# Node
node_modules/
npm-debug.log*
yarn-debug.log*
package-lock.json
yarn.lock

# Python
__pycache__/
*.py[cod]
env/
venv/
*.egg-info/
*.egg
Pipfile.lock

# Build / Distribution
build/
dist/

# Testing / Coverage
coverage/

# Environment variables
.env

# IDEs / Editors
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Logs / Cache
*.log
.cache/
