# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
json-server.log
*.log

# Build / distribution
build/
dist/

# Environment variables
.env

# Editor / IDE files
.vscode/
.idea/
*.swp
*~

# OS files
.DS_Store
Thumbs.db

# Cache
.cache/

# Dependency locks (optional)
package-lock.json
yarn.lock

# Fake API (optional)
public/db.json
